<form (ngSubmit)="onSubmit()" #filterForm="ngForm">

  <div class="inputs">
    <mat-form-field class="fields">
      <mat-label>Nom</mat-label>
      <input matInput type="text" name="name" [(ngModel)]="form.name" (change)="setValue($event.target)" id="name">
    </mat-form-field>

    <mat-form-field class="fields">
      <mat-label>Genres</mat-label>
      <mat-select [(ngModel)]="form.type" id="type" name="type">
        <mat-option value="">Tous</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="fields">
      <mat-label>Éditeur</mat-label>
      <input matInput type="text" name="editor" [(ngModel)]="form.editor" (change)="setValue($event.target)"
             id="editor">
    </mat-form-field>
  </div>

  <div class="form-buttons">
    <button mat-raised-button color="primary" [disabled]="!filterForm.valid">Filter</button>
    <button mat-raised-button color="secondary" (click)="razFilter()">RAZ</button>
  </div>
</form>
