<app-game-list-filter (filtered)="filtering($event)"></app-game-list-filter>
<div class="css-buttons">
  <div (click)="changeCardSize(10, true)" class="css-button">-</div>
  <div (click)="changeCardSize(10)" class="css-button">+</div>
  <div (click)="resetCardSize()" class="css-button">RAZ</div>
</div>
<div class="pagination">
  <ul>
    <ng-container *ngFor="let button of pagination">
      <li *ngIf="button.url && !((button.name === 'first' || button.name === 'last') && button.num === currentPage)"
          (click)="button.url !== '#' ? getGamesList(button.url) : ''"
          [ngClass]="{'active' : button.num === currentPage}">{{button.name === 'first' ? 'First' : (button.name === 'last' ? 'Last' : button.num)}}</li>
    </ng-container>
  </ul>
</div>
<ng-template #loading>
  <div class="spin-container">
    <div class="lds-grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>
<section *ngIf="games; else loading">
  <article class="games-container">
    <div *ngFor="let game of filteredGames" class="card" [style.width.px]="actualCardWidth">
      <div class="card-header">
        <div class="card-header-middle">
          <h3 class="title">{{game.title}}</h3>
          <p>
            <span *ngFor="let genre of game.genres; let last = last">{{!last ? genre.name + ', ' : genre.name}}</span>
          </p>
        </div>
        <div class="card-header-right">
          <p>{{game.note ? game.note : '- '}}/10</p>
        </div>
      </div>
      <div class="card-img">
        <img [src]="game.coverImage"
             [alt]="game.title + 'battleblock theater cover'">
      </div>
      <div class="card-body">
        <p class="description">{{truncate(game.description)}}</p>
        <div class="infos">
          <p><span class="muted">Publisher : </span> {{game.publisher.name}}</p>
          <p><span class="muted">Developer : </span> {{game.developer.name}}</p>
        </div>
      </div>
      <app-game-buttons [game]="game.titre" (clicked)="buttonAlert($event)"></app-game-buttons>

    </div>
  </article>
  <div class="pagination">
    <ul>
      <ng-container *ngFor="let button of pagination">
        <li *ngIf="button.url && !((button.name === 'first' || button.name === 'last') && button.num === currentPage)"
            (click)="getGamesList(button.url)"
            [ngClass]="{'active' : button.num === currentPage}">{{button.name === 'first' ? 'First' : (button.name === 'last' ? 'Last' : button.num)}}</li>
      </ng-container>
    </ul>
  </div>
</section>
